@mixin button
  background: $bg-button-primary
  border-radius: 4px
  color: $text-primary
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.12)

@mixin reason-icon
  border-radius: 50%
  width: 116px
  height: 116px