
// font family
$font-family-base: 'Roboto', sans-serif
// font family end

// background
$bg-primary: #FFFFFF
$bg-secondary: #070716
$bg-button-primary: linear-gradient(90deg, #1EACC7, #4CE2FF) 
$bg-secondary-60: rgba(0, 0, 0, 0.6)
// background end
  
//text
$text-primary: #FFFFFF
$text-secondary: #202020
$text-success: #1EACC7
$text-danger: #FF5656

$text-base: 16px
$text-lg: 22px
$text-md: 18px
$text-sm: 14px
$text-xs: 12px

$h1-desktop: 60px
$h1-tablet: 50px
$h1-mobile: 34px

$h2-desktop: 40px
$h2-tablet: 30px
$h2-mobile: 24px

//text 

$card-ico: ('card-reason__ico-1': 'wallet.png', 'card-reason__ico-2': 'money.png','card-reason__ico-3': 'keys.png','card-reason__ico-4': 'tel.png', 'card-reason__ico-5': 'commisions.png','card-reason__ico-6': 'time.png','card-reason__ico-7': 'tablet.png','card-reason__ico-8': 'car.png'
)