
// font family
$font-family-base: 'Roboto', sans-serif
// font family end

// background
$bg-primary: #FFFFFF
$bg-secondary: #070716
$bg-button-primary: linear-gradient(90deg, #1EACC7, #4CE2FF) 
$bg-secondary-60: rgba(0, 0, 0, 0.6)
// background end
  
//text
$text-primary: #FFFFFF
$text-secondary: #202020
$text-success: #FF5656

$text-base: 16px
$text-md: 18px
$text-sm: 14px
$text-xs: 12px

$h1-desktop: 60px
$h1-tablet: 48px
$h1-mobile: 30px

$h2-desktop: 38px
$h2-tablet: 24px
$h2-mobile: 16px

//text 